@import '../../assets/variables';
@import '../../assets/mixins';

.main__user-city-list {
  width: 100%;
}

.user-city-list__city {
  @include cardCityFlex();
}

.city__delete-button {
  border: none;
  margin-right: $margin-right;
}

.user-city__name {
  font-weight: $weight;
}




// <button
// onClick={handleClickDelete}
// className="city__delete-button"
// >
// <i className="fas fa-times" aria-label="Delete button"></i>
// </button>
// <img src={cityImage} alt={city.name} className="city__img" />
// <div className="user-city__text-wrapper">
// <p className="user-city__name">{city.name}</p>
// <p className="user-city__chinese-name">{city.chineseName}</p>
// </div>