@import './assets/variables';
@import './assets/mixins';
* {
  margin:0;
  padding:0;
  list-style: none;
  color: $color-text;
}

.App {
  text-align: center;
  margin:20px 40px;
  border: $border;
}

.app-header {
  text-align: start;
}

.header__title {
  font-size: 18px;
  padding:10px;
  border-bottom: $border;
}

.app__main {
  display: flex;
}

.main__filter-list-section {
  @include alignCenterWithFlex();
  border-right: $border;
  width: 50%;
}

.main__select-all-wrapper {
  width: 100%;
  padding-left: 5%;
}

.main__select-all-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px;
}

.main__all-city-text {
  font-weight: $weight;
}

.main__all-checkbox {
  margin-right: 20px;
}


.main__user-list-section {
  margin-top:20px;
  @include alignCenterWithFlex();
  width: 50%;
}

.user-list__functionality-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.user-list__number-items {
  margin-left:3%;
}

.user-list__functionality-wrapper {
  margin-bottom:20px;
}

.user-list__clear-btn {
  margin-right: 3%;
  background-color: transparent;
  border: 1px solid transparent;
  color: $blue;
  font-weight: $weight;
  font-size: 16px;
}