* {
  margin:0;
  padding:0;
  list-style: none;
  color:#313334e0;
}

.App {
  text-align: center;
  margin:20px 40px;
  border: 2px solid rgba(208, 211, 211, 0.568);
}

.app-header {
  text-align: start;
}

.header__title {
  font-size: 18px;
  padding:10px;
}

.app__main {
  display: flex;
  justify-content: space-around;
  background-color: lightgreen;
  border: 2px solid rgba(208, 211, 211, 0.568);
}